@{
    ViewBag.Title = "Game Store";
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <style type="text/css">
        .block1 {
            width: 135px;
            background: #ccc;
            padding: 15px;
            border: solid 1px black;
            float: left;
            margin: 10px;
            border-box: 100px
        }
    </style>
</head>

<body>
    <h3>Game sales</h3>
    @foreach (var b in ViewBag.Games)
    {
        <div class="block1">
            @b.Name
            @b.Company
            @b.Price
            <a href="/Home/Buy/@b.Id">Buy</a>
        </div>

    }
</body>
</html>